body {
background-color: #000000;
background-position: 0% 0px;

font-family: arial;
font-size: 12px;
color: #777777;
}

blockquote {
    border-left: 2px solid #333333;
    padding-left: 5px;
    margin-left: 20px;
}
div {
    cursor: default;
}

ul {
    padding-left: 20px;
}

a {
	font-family: arial;
	color: #AAAAAA;
}
a:hover {
	color: #FFFFFF;
    text-decoration: underline;
}