{% extends 'base.html' %}
{% block title %}Whiplash{% endblock %}

{% block head %}
<script>
$(function() {

    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        r = parseInt(r)
        g = parseInt(g)
        b = parseInt(b)
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    function rgbToHex2(r, g, b) {
        r = parseInt(r)
        g = parseInt(g)
        b = parseInt(b)
        return componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    var mulColor = function (hex, mul) {
        // hex to rgb
        var bigint = parseInt(hex, 16);
        // console.log(bigint)
        var r = (bigint >> 16) & 255;
        var g = (bigint >> 8) & 255;
        var b = bigint & 255;

        r = parseInt(r*mul);
        g = parseInt(g*mul);
        b = parseInt(b*mul);

        return rgbToHex(r,g,b)
    }
    var genColor = function(hex){
        return ["#"+hex, mulColor(hex,0.4)]
    }


    function setCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    // var defX = function(e) {
    //     if (!e) e = window.event;
    //     var hscroll = !document.body.scrollLeft && (browser.ipad || browser.iphone4 || browser.ipod4) ? 0 : (document.all ? document.body.scrollLeft : window.pageXOffset);
    //     return parseInt(e.clientX + hscroll);
    // }

    function getXY(obj, forFixed) {
      if (!obj) return [0,0];

      var left = 0, top = 0, pos, lastLeft;
      if (obj.offsetParent) {
        do {
          left += (lastLeft = obj.offsetLeft);
          top += obj.offsetTop;
          pos = obj.style.position
          if (pos == 'fixed' || pos == 'absolute' || (pos == 'relative')) {
            left -= obj.scrollLeft;
            top -= obj.scrollTop;
            if (pos == 'fixed' && !forFixed) {
              left += ((obj.offsetParent || {}).scrollLeft || bodyNode.scrollLeft || htmlNode.scrollLeft);
              top += ((obj.offsetParent || {}).scrollTop || bodyNode.scrollTop || htmlNode.scrollTop);
            }
          }
        } while (obj = obj.offsetParent);
      }
      return [left,top];
    }

    function cancelEvent(event) {
  event = (event || window.event);
  if (!event) return false;
  while (event.originalEvent) {
    event = event.originalEvent;
  }
  if (event.preventDefault) event.preventDefault();
  if (event.stopPropagation) event.stopPropagation();
  event.cancelBubble = true;
  event.returnValue = false;
  return false;
}

    function StatusBar(parent, bClickable){
        'use strict';

        this.parent = parent
        $('<div draggable="true" class="background"><div class="value"></div></div').appendTo(parent)
        this.bg = $(parent).find("> div").get(0)
        this.bar = $(parent).find("> div > div").get(0)

        $(this.bg).css({
                    "height": "100%",
                    "width": "100%",
                    "border-radius": "3px",
                    "background": "#660000",
                    "position": "relative"
                })

        $(this.bar).css({
                    "height": "100%",
                    "width": "100%",
                    "border-radius": "3px",
                    "background": "#aa0000",
                    "position": "absolute",
                    "bottom": "0px"
                })


        // var self = this

        // if (bClickable) {
        //     var barClick = function(e){
        //         self.newvalueHandler(e)
        //         cancelEvent(e)
        //     }

        //     var removeHandlers = function(e){
        //             $(this).off("mousemove")
        //             $(this).off("mouseup")
        //         }

        //     $(this.bg).on("mousedown", function(e){
        //         barClick(e)
        //         $(this).on("mousemove", barClick)
        //         $(this).on("mouseup", removeHandlers)
        //     })
        // }

        this.setColor("00BB00")
        // this.setMinMaxValues(0,100)
        this.setValue(0.5)
    }

    StatusBar.prototype.min = 0
    StatusBar.prototype.max = 1
    StatusBar.prototype.value = 0
    StatusBar.prototype.orientation = "horizontal"
    StatusBar.prototype.newvalueHandler = function(){}

    StatusBar.prototype.onnewvalue = function(f){
        this.newvalueHandler = f
    }

    StatusBar.prototype.setOrientation = function(orientation){
        this.orientation = orientation
        $(this.bar).css("width", 100+"%")
        $(this.bar).css("height", 100+"%")
        this.setValue(this.value)
    }

    StatusBar.prototype.setColor = function(hex){
        $(this.bar).css("background", "#"+hex)
        $(this.bg).css("background", mulColor(hex, 0.5))
    }

    StatusBar.prototype.getValue = function(){
        return this.value
    }
    StatusBar.prototype.setValue = function(val){
        this.value = val
        var p = 100* ((val - this.min) / (this.max - this.min))
        if (p>100) { p = 100 }
        if (p<0) { p = 0 } // it looks ugly if any less
        if (this.orientation == "horizontal") {
            $(this.bar).css("width", p+"%")
        } else {
            $(this.bar).css("height", p+"%")
        }
    }
    StatusBar.prototype.setMinMaxValues = function(min,max){
        this.min = min
        this.max = max
        this.setValue(this.value)
    }



    var wb = new StatusBar($("#waterblock > .barcont").get(0), true)
    wb.setOrientation("vertical")
    wb.setColor("1c56a6")
    wb.setMinMaxValues(0,3)
    wb.setValue(0)

    var water = $("#waterblock")
    water.find(".small").click(function(e){
            wb.setValue(wb.getValue()+0.1)
            e.preventDefault()
        })
    water.find(".big").click(function(e){
            wb.setValue(wb.getValue()+0.5)
            e.preventDefault()
        })
    water.find(".reset").click(function(e){
            wb.setValue(0)
            e.preventDefault()
        })


    

    var DayStartButton = $("#startDayButton")
    DayStartButton.click(function(e){
        DayStartButton.day_start()
        
    })

    $.getJSON("/api/userdata/day_start")
                .done(function(resp){
                    var data = resp.data
                    DayStartButton.day_start_date = data.day_start_date*1000
                })

    DayStartButton.day_start = function (){
        $(".task").each( function(index){
            this.reset()
            wb.setValue(0)
        })

        var now = Date.now()/1000

        $.post("/api/userdata/day_start", { day_start_date: now })
                .done(function(resp){
                    console.log(resp)
                    var data = resp.data
                    DayStartButton.day_start_date = data.day_start_date*1000
                })

    }


    var Tasks = []

    var DayStartTime = 0
    var DayDaemon = new MiniDaemon($("task_container"), function(){
        if (!DayStartButton.day_start_date) return;
        for (var i=0; i<Tasks.length; i++) {
            var task = Tasks[i]
            task.warning_check()
        }
    }, 300000, Infinity);
    DayDaemon.start()


    $(".task").each( function(index){

        var idattr = $(this).attr('id')
        var id = parseInt(idattr.match(/\d+/)[0])
        this.taskId = id
        var task = this

        task.taskState = "INACTIVE"
        task.pomoState = "INACTIVE"
        task.pomoTime = 0
        task.pomoLength = 25
        // task.taskStartTime = 0

        if (id) Tasks.push(this);


        // var pbDiv = $("<div></div>", { id: "progressbar"+id }) //createElement with attributes
        // pbDiv.appendTo(this) // append to #taskN
        var pbDiv = $(this).find('.progressbar')
        var progress = new ProgressBar.Line(pbDiv[0], {
            color: '#FCB03C',
            strokeWidth: 6.7,
            trailColor: "#151515",
        });
        this.progress = progress
        this.normalTimer = new MiniDaemon(this, function(){
            this._update()
        },50, Infinity)


        var clockDiv = $(this).find('.clock')
        var clock = new ProgressBar.Circle(clockDiv[0], {
            color: "#33FF33",
            // fill: '#000',
            strokeWidth: 7,
            trailWidth: 1,
            trailColor: "#151515",
        });
        var clockText = $("<span></span>")
        clockText.appendTo(clockDiv)
        clockText.text("0")
        clock.text = clockText
        this.clock = clock
        this.clockDiv = clockDiv
        this.warningDiv = $(this).find(".warning")
        this.warningDiv.hide()

        this.clock.show = function() {
            this.fadeTimer.pause()
            clockDiv.css("visibility", "visible")
        }
        this.clock.hide = function(){
            clockDiv.css("visibility", "hidden")
        }
        this.clock.hide()


        this.clock.fadeTimer = new MiniDaemon(this.clock, function(){
            this.hide()
            this.fadeTimer.pause()
        }, 5000, Infinity);




        this.progress.setColor = function(color){
            this.path.setAttribute('stroke', color[0]);
            this.trail.setAttribute('stroke', color[1]);
        }


        this.clock.setColor = function(color){
            this.path.setAttribute('stroke', color[0]);
            this.trail.setAttribute('stroke', "#222222");
        }


        this.warning_check = function(){
            var now = Date.now()
            var task = this
            // var elapsed = (now - DayStartTime ) / 1000
            var elapsed = (now - DayStartButton.day_start_date)/1000
            // console.log(Tasks)
            if (task.suggestedStartTime != null) {
                console.log(elapsed, now, DayStartButton.day_start_date, task.suggestedStartTime, task.taskState, task.pomoState)
                if (elapsed > task.suggestedStartTime) {
                    if (task.taskState == "INACTIVE" && task.pomoState == "INACTIVE") {
                        task.warningDiv.show()
                        for (var i=0; i<20; i++){
                            task.warningDiv.animate({opacity: 1 }, 500)
                            task.warningDiv.animate({opacity: 0.5 }, 500)
                        }
                    } else {
                        task.warningDiv.hide()
                    }
                    // console.log(task.id, "wake UP!")
                }
            }
        }

        var colors = {
            break: genColor("8888FF"),
            active: genColor("33BB33"),
            inactive: genColor("995555"),
            complete: genColor("009900"),
            inprogress: genColor("d16a1e")
        }
        this.progress.setColor(colors.inactive)

        var audioElement = $("audio").get(0)//document.createElement('audio');
        audioElement.setAttribute('src', '/static/RadioStartFaded.wav');

        this.pomoTimer = new MiniDaemon(this, function(){
            this._updatePomo()
        },50, Infinity)


        var WarningDaemon = new MiniDaemon(containerElement, function(){
            
        }, 1000, Infinity);    


        this._update = function(bNoSync, bAnimate){

            var now = Date.now()
            var elapsed = (now - this.taskStartTime ) / 1000
            if (bNoSync) elapsed = 0;
            var p = (elapsed + this.taskTime) / this.taskLength
            var remains = this.taskLength - elapsed
            if (remains <= 0) remains = 0;
            if (p>=1) {
                p = 1;
                this.normalTimer.pause()
                if (!bNoSync) this.updateServer("add_time", (this.taskLength - this.taskTime).toFixed(0) );
                this.progress.setColor(colors.complete)
            } else if (elapsed > this.taskSyncPeriod) {
                if (!bNoSync) {
                    this.updateServer("add_time", this.taskSyncPeriod);
                    // if server is not available should for for the next period and not spam
                    this.taskStartTime = this.taskStartTime + this.taskSyncPeriod*1000
                }
                this.progress.setColor(colors.inprogress)
            }
            

            if (bAnimate) {
                this.progress.animate(p)
            } else {
                this.progress.set(p)
            }

            this.warning_check()
        }


        var formatTime = function(s){
            if (s >= 3600) {
                return Math.ceil(s / 3600)+"h"
            } else if (s >= 60) {
                return Math.ceil(s / 60)+"m"
            } else if (s >= 10) {
                return Math.floor(s)+"s"
            }
            return s.toFixed(1)
        }

        this._updatePomo = function(){
            var now = Date.now()
            var elapsed = (now - this.pomoStartTime ) / 1000
            var p = elapsed / this.pomoDuration
            var remains = this.pomoDuration - elapsed
            if (remains <= 0) remains = 0;


            var rmins = Math.ceil(remains/60)
            if ((rmins % 5 == 0) && (rmins != this._prevSoundTime) && elapsed > 60){
                if (rmins == 0) {
                    audioElement.setAttribute('src', '/static/FishBite.wav');
                } else {
                    audioElement.setAttribute('src', '/static/train.wav');
                }
                
                audioElement.play()
                this._prevSoundTime = rmins
            }
            // console.log((now - this.pomoStartTime ), this.pomoDuration)
            if (p>=1) {
                p = 1
                elapsed = this.pomoDuration
                this.pomoTimer.pause()
                if (this.pomoState == "BREAK" || this.pomoState == "LONGBREAK"){
                    audioElement.setAttribute('src', '/static/ConcussiveShotImpact.ogg');
                    audioElement.play()
                    this.stop_break()
                } else if (this.pomoState == "ACTIVE") {
                    this.updateServer("add_time", this.pomoLength)
                    this.taskTime = this.taskTime + this.pomoLength
                    this._update(true, true)
                    this.start_break()
                }
            }

            this.clock.set(p)

            if (remains <= 0) {
                this.clock.text.text("")
            } else {
                this.clock.text.text(formatTime(remains))
            }
        }

        this.start_pomo = function(){
            if (this.pomoState != "ACTIVE"){
                this.taskState = "POMO"
                this.pomoState = "ACTIVE"

                this.pomoStartTime = Date.now()
                // this.pomoEndTime = pomoStartTime + this.pomoLength
                this.pomoDuration = this.pomoLength

                this.clock.setColor(colors.active);
                this.progress.setColor(colors.inprogress);
                this._update(true)
                this._updatePomo()
                this.clock.show()
                this.normalTimer.pause()
                this.pomoTimer.start()
            }
        }


        this.start_task = function(){
            if (this.taskState != "ACTIVE"){
                this.taskState = "ACTIVE"
                this.clock.hide()

                this.taskStartTime = Date.now()
                this.taskLastSync = Date.now()
                this.taskSyncPeriod = 1*60

                this.progress.setColor(colors.inprogress)

                this._update()
                this.normalTimer.start()
                this.pomoTimer.pause()
            }
        }
        this.stop_task = function(){
            console.log(this.taskState)
            if (this.taskState == "ACTIVE" || this.taskState == "POMO"){
                this.taskState = "INACTIVE"
                this.pomoState= "INACTIVE"

                // this.taskStartTime = Date.now()
                // this.taskLastSync = Date.now()
                // this.taskSyncPeriod = 1*60

                this._update(true)
                this.progress.setColor(colors.inactive)
                this.normalTimer.pause()
                this.pomoTimer.pause()
                this.clock.hide()
            }
        }


        this.start_break = function(){
            this.taskState = "INACTIVE"
            // this.taskTime += this.pomoLength
            this.progress.setColor(colors.inactive)

            // if this.taskTime >= this.taskLength:
            //     this.taskTime = this.taskLength
            //     this.taskState = "COMPLETED"

            this.pomoStartTime = Date.now()
            this.pomoDuration = this.pomoBreakLength
            this.pomoCompleted += 1
            this.pomoState = "BREAK"

            this.clock.setColor(colors.break);
            // this._update(true)
            this._updatePomo()
            this.pomoTimer.start()
        }


        this.stop_break = function(){
            this.pomoTime = this.pomoDuration
            this.pomoState= "INACTIVE"

            this._update()
            this._updatePomo()
            this.pomoTimer.pause()
            this.clock.fadeTimer.start()

            $(this).find(".start").show()
            $(this).find(".stop").hide()
        }

        this.reset = function(){
            task.updateServer("reset")
            this.pomoTimer.pause()
            this.normalTimer.pause()
            this.clock.hide()

            this.taskTime = 0
            this.taskStartTime = Date.now()
            this.taskState = "INACTIVE"
            this.pomoTime = 0
            this.pomoState = "INACTIVE"
            this.pomoCompleted = 0
            this.progress.setColor(colors.inactive)

            this._update(true)
            this._updatePomo()            
        }
        

        $(this).find(".start").click(function(){
            task.start_task()
            $(this).hide()
            $(this).siblings(".stop").show()
        });
        $(this).find(".stop").click(function(){
            task.stop_task()
            $(this).hide()
            $(this).siblings(".start").show()
        }).hide();

        $(this).find(".reset").click(function(){
            task.reset()
            $(this).siblings(".start").show()
            $(this).siblings(".stop").hide()
        });

        $(this).find(".pomo").click(function(){
            task.start_pomo()
            $(this).siblings(".start").hide()
            $(this).siblings(".stop").show()
        });


        this.restore = function(){
            $(this).find(".title").text(this.title)
            $(this).find(".duration").text(formatTime(this.taskLength))
            this._update(true)
        }

        this.synchronize = function(){
            var id = this.taskId
            var task = this
            $.getJSON("/api/task/"+id+"/")
                .done(function(resp){
                    console.log(resp)
                    var data = resp.data
                    task.title = data.title
                    task.taskLength = data.task_length
                    task.taskTime = data.task_time
                    // task.taskState = data.task_state;
                    task.pomoTime = data.pomo_time
                    task.pomoLength = data.pomo_length
                    task.pomoBreakLength = data.pomo_break_length
                    var hms = data.task_start_time
                    var a = hms.split(':'); // split it at the colons

                    var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]); 
                    task.suggestedStartTime = seconds
                    // task.pomoState = data.pomoState

                    task.restore()
                })
        }
        this.synchronize()


        this.updateServer = function(cmd, value){
            var id = this.taskId
            value = value || 0
            var task = this
            $.post("/api/task/"+id+"/", { cmd: cmd, value: value })
                .done(function(resp){
                    console.log(resp)
                    var data = resp.data
                    // var result = data.result
                    // var cmd = data.cmd
                    // var param = data.params


                    task.taskLength = data.task_length
                    task.taskTime = data.task_time
                    // task.taskState = data.task_state
                    task.pomoTime = data.pomo_time
                    task.pomoLength = data.pomo_length
                    task.pomoBreakLength = data.pomo_break_length
                    // task.pomoState = data.pomoState
                })
        }
    });

    var gray = [ 50, 50, 50 ]
    var yellow = [ 200, 100, 40 ]
    var red = [ 230, 50, 50 ]

    function GetGradientColor(v){
        if (v > 1){ v = 1 }
        var c1,c2
        if (v < 0.6) {
            v = v/0.6
            c1 = gray
            c2 = yellow
        } else {
            v = (v - 0.6)/0.4
            c1 = yellow
            c2 = red
        }

        var r = c1[0] + v*(c2[0]-c1[0])
        var g = c1[1] + v*(c2[1]-c1[1])
        var b = c1[2] + v*(c2[2]-c1[2])
        return rgbToHex(r,g,b)
    }


    var ltc = $("#listtask_container > div")

    var lt_template = $("#listtask_template").detach()
    lt_template.css("visibility", "visible")
    lt_template.removeAttr("hidden")


    function createListTask(data){
        lt = lt_template.clone()
        lt.attr("id", "listtask"+data.id)
        lt.find(".todopriority > span").text(data.priority)
        lt.find(".todotitle > span").text(data.title)
        return lt.get(0)
    }


    var extract_prio = function(element){
        return parseInt($(element).find(".todopriority span").text())
    }
    var compare_priorities = function(a, b) {
        var ap = extract_prio(a)
        var bp = extract_prio(b)
        if (ap > bp) {
            return -1;
        }
        if (ap < bp) {
            return 1;
        }
        return 0;
    }

    function sortTasks(order_by){
        var L = $("#listtask_container .listtask").detach().toArray()
        L.sort(compare_priorities)
        $.each(L, function(index, element){
            $(element).appendTo(ltc) // to listtask container
        })   
    }

    var currentlyEditing
    var expandedBeforeEdit


    var containerElement = ltc.get(0)
    containerElement.sortTimer = new MiniDaemon(containerElement, function(){
        sortTasks()
        this.sortTimer.pause()
    }, 1300, Infinity);    



    function makeListTask(element){
        var lt = $(element)
        var self = element
        lt.buttons = lt.find(".buttons")
        lt.pbuttons = lt.find(".todopriority > a")
        var id = parseInt(lt.attr("id").match(/\d+/)[0])

        lt.find(".buttons .remove").click(function(e){
            if (confirm("Remove '"+lt.find(".todotitle > span").text()+"'?")){
                $.post("/api/listtask/"+id+"/delete", function(data){
                    lt.remove()
                })
            }
            e.preventDefault()
        })


        lt.mouseenter(function(e){
            lt.buttons.css("visibility", "visible")
            lt.pbuttons.css("visibility", "visible")
        }).mouseleave(function(e){
            lt.buttons.css("visibility", "hidden")
            lt.pbuttons.css("visibility", "hidden")
        })

        self.getPriority = function(){
            var pe = $(this).find(".todopriority > span")
            var p = parseInt(pe.text())
            return p
        }
        

        lt.updatePriority = function(){
            var pe = $(this).find(".todopriority > span")
            var p = parseInt(pe.text())
            pe.css("color", GetGradientColor(p/100))
        }

        lt.setPriority = function(v){
            $(this).find(".todopriority > span").text(v)
            this.updatePriority()
        }

        lt.updatePriority()

        lt.find(".todopriority .plus").click(function(e){
            var p = lt.get(0).getPriority()
            // var prev = lt.prev().get(0)
            // if (prev != undefined){
            //     p = prev.getPriority()+1;
            // } else {
                p += 10;
            // }
            if (p>100) { p = 100 }
            lt.setPriority(p)
            $.post("/api/listtask/"+id, { priority: p })
                .done(function(data){
                    // sortTasks()
                    containerElement.sortTimer.pause()
                    containerElement.sortTimer.start()
                })
        })

        lt.find(".todopriority .minus").click(function(e){
            var p = lt.get(0).getPriority()
            console.log(lt.get(0), p, id)
            // var next = lt.next().get(0)
            // if (next != undefined){
            //     p = next.getPriority()-1;
            // } else {
                p -= 10;
            // }
            if (p<0) { p = 0 }
            lt.setPriority(p)
            $.post("/api/listtask/"+id, { priority: p })
                .done(function(data){
                    // sortTasks()
                    containerElement.sortTimer.pause()
                    containerElement.sortTimer.start()
                })
        })

        lt.expanded = false
        lt.toggleExpand = function(force){
            if (this == currentlyEditing) { return }
            if (force != undefined) { this.expanded = !force }
            if (this.expanded) {
                this.find(".exp").css("display", "none")
            } else {
                this.find(".exp").css("display", "block")
            }
            this.expanded = !this.expanded
        }
        lt.find(".todotitle").click(function(e){
            lt.toggleExpand()
            e.preventDefault()
        })


        lt.cancelEdit = function() {
            lt.toggleExpand(true)
            lt.find(".edit_show").css("display", "none")
            lt.find(".edit_hide").css("display", "block")
        }

        lt.find(".edit").click(function(e){
            if (currentlyEditing == lt) {
                lt.cancelEdit()
                currentlyEditing = null
                return
            }
            // console.log("EDIT")
            $.getJSON("/api/listtask/"+id+"/edit")
                .done(function(resp){
                    if (resp.status != "ok") { return }
                    var data = resp.data

                    lt.find(".editpanel textarea").text(data.description_body)
                    lt.find(".todotitle input[name=title]").val(data.title)
                    lt.find(".editpanel input[name=priority]").val(data.priority)
                    var p = data.priority/100
                    lt.statusbar.setValue(p)
                    var newcolor = GetGradientColor(p).substring(1) // strip leading #
                    lt.statusbar.setColor(newcolor)

                    lt.toggleExpand(true)
                    lt.find(".edit_show").css("display", "block")
                    lt.find(".edit_hide").css("display", "none")

                    if (currentlyEditing){
                        currentlyEditing.cancelEdit()
                    }
                    currentlyEditing = lt
                })
        })



        var editpanel_submit = function(form){
            var formdata = {}
            $(form).serializeArray().map(function(item) {
                formdata[item.name] = item.value;
            }); 

            if (formdata["title"].length == 0) { return }

            $.post("/api/listtask/"+id+"/edit", formdata)
                .done(function(resp){
                    console.log(resp)
                    if (resp.status == "ok") {

                        $(form).get(0).reset()
                        
                        var data = resp.data
                        lt.find(".descpanel .description").html(data.description)
                        lt.setPriority(data.priority)
                        lt.find(".todotitle span").text(data.title)
                        sortTasks()

                        lt.find(".edit_show").css("display", "none")
                        lt.find(".edit_hide").css("display", "block")

                        currentlyEditing = null
                    }
                })
        }
        lt.find("form").submit(function(e){
            editpanel_submit(this)
            e.preventDefault()
        })
        lt.find(".editpanel .save").click(function(e){
            editpanel_submit(lt.find("form").get(0))
            e.preventDefault()
        })


        var sb = new StatusBar(lt.find(".priobar").get(0), true)
        lt.statusbar = sb
        // sb.onnewvalue()

        var areaElement = lt.find(".exp")

        var draggingElement = null

        var func = function(e){
            var el = draggingElement // e.currentTarget
            var ex = el._globaloffsetX || getXY(el)[0]
            el._globaloffsetX = ex
            var val = e.clientX - ex
            var width = el.offsetWidth

            var p = val/width
            // console.log(val, width, p, ex)
            sb.setValue(p)
            var newcolor = GetGradientColor(p).substring(1) // strip leading #
            sb.setColor(newcolor)
            lt.find("input[name=priority]").val(parseInt(p*100))
        }

        var barClick = function(e){
            // self.newvalueHandler(e)
            func(e)
            cancelEvent(e)
        }

        var removeHandlers = function(e){
                areaElement.off("mousemove")
                areaElement.off("mouseup")
                draggingElement = null
            }

        $(sb.bg).on("mousedown", function(e){
            draggingElement = e.currentTarget
            barClick(e)
            areaElement.on("mousemove", barClick)
            areaElement.on("mouseup", removeHandlers)
        })

    }

    var add_form_submit = function(form){
        var formdata = {}
        var url = form.action
        $(form).serializeArray().map(function(item) {
            formdata[item.name] = item.value;
        }); 

        if (formdata["title"].length == 0) { return }


        $.post("/api/listtask/add", formdata)
            .done(function(resp){
                console.log(resp)
                if (resp.status == "ok") {
                    var data = resp.data
                    var lt = createListTask(data)
                    $(lt).appendTo(ltc)
                    makeListTask(lt)
                    sortTasks()
                    $(form).find("input").val("")
                    $("#addform > input").fadeOut()
                }
            })
    }
    $("#listtask_container > form").submit(function(e){
        add_form_submit(this)
        e.preventDefault()
    })


    $("#addbtn").click(function(e){
        var addfield = $("#addform > input")
        if (!addfield.is(":visible")){
            addfield.fadeIn(400)
        } else {
            add_form_submit($("#addform").get(0))
        }
    })
    // $("#listtask_container > form > input")
    //     .mouseenter(function(e){
    //         $(this).fadeTo(100, 1)
    //     })
    //     .mouseleave(function(e){
    //         $(this).delay( 2000 ).fadeTo(600, 0.2)
    //     })
    //     .fadeTo(0, 0.2)


    

    $(".listtask").each( function(index, element){
        makeListTask(element)
    })
    sortTasks()


    var updateVolumeIcon = function(vol, p){
        var icon = $(vol.icon)
        icon.removeClass()
        if (p > 0.66) {
            return icon.addClass("level3")
        } else if (p > 0.33) {
            return icon.addClass("level2")
        } else if (p > 0) {
            return icon.addClass("level1")
        } else {
            return icon.addClass("mute")
        }
    }

    var vol = new StatusBar($("#volumeControl").get(0))
    vol.icon = $("#volumeIcon").get(0)
    vol.container = $("#volumeContainer").get(0)
    vol.container.vol = vol
    vol.setColor("151515")
    var areaElement = $("body")
    var draggingElement = null

    var p = getCookie('audio_vol') || 100
    p = p/100
    vol.setValue(p)
    updateVolumeIcon(vol, p)

    $("audio").get(0).volume = p

    var barClick = function(e){
        var el = draggingElement // e.currentTarget
        var ex = el._globaloffsetX || getXY(el)[0]
        el._globaloffsetX = ex
        var val = e.clientX - ex
        var width = el.offsetWidth
        var p = val/width
        vol.setValue(p)
        updateVolumeIcon(vol, p)
        $("audio").get(0).volume = p
        setCookie('audio_vol', Math.round(p*100), 365);
        cancelEvent(e)
    }

    var removeHandlers = function(e){
        areaElement.off("mousemove")
        areaElement.off("mouseup")
        draggingElement = null
    }

    var onmousedown = function(e){
        if (e.currentTarget.className != "background") {
            draggingElement = $(e.currentTarget).find(".background").get(0)
        } else {
            draggingElement = e.currentTarget
        }
        barClick(e)
        areaElement.on("mousemove", barClick)
        areaElement.on("mouseup", removeHandlers)
    }

    $(vol.bg).on("mousedown", onmousedown) 
    $(vol.container).on("mousedown", onmousedown) 


    $("#daystrip > div").each(function(){
        $(this).click(function(e){
            var self = $(this)
            // console.log(self.data("date"))
            if (self.hasClass("MISSED")){
                self.removeClass("MISSED")
                self.addClass("COMPLETE")
                $.post("/api/day/"+self.data("date")+"/", { "state": "COMPLETE" })
                    .done(function(e){
                    })
            } else if (self.hasClass("COMPLETE")){
                self.removeClass("COMPLETE")
                self.addClass("REST")
                $.post("/api/day/"+self.data("date")+"/", { "state": "REST" })
                    .done(function(e){
                    })
            } else if (self.hasClass("REST")){
                self.removeClass("REST")
                self.addClass("MISSED")
                $.post("/api/day/"+self.data("date")+"/", { "state": "MISSED" })
                    .done(function(e){
                    })
            }
        })
    })

});
</script>
<style>


#task_container{
    position: relative;
    top: 5px;
}

#task_container > a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    left: 200px;
    font-weight: 400;
    font-size: 29px;
    font-family: "Ubuntu Condensed", sans-serif;
    color: #090909;
}
#task_container > a:hover {
    text-decoration: none;
    color: #272a2c;
}
#task_container > a:active {
    text-decoration: none;
    color: #696a6c;
}

.task > * {
    display: inline-block;
    /*font-width: normal;*/
    /*font-family: "PT Sans Narrow", sans-serif;*/
}

.task .title {
    font-weight: 400;
    font-size: 25px;
    font-family: "Ubuntu Condensed", sans-serif;
}
.task .duration {
    margin-left: 20px;
    font-size: 15px;
    font-family: "PT Sans Narrow", sans-serif;
}

.task .warning {
    position:relative;
    left: -80px;
    top: 20px;
    width: 130px;
    height: 130px;
    background-image: url('/static/warning.png');
}

.task .clock {
    position:relative;
    left: 50px;
    top: 20px;
    width: 130px;
    height: 130px;
}

.task .clock span{
    position: absolute;
    /*This works because position: absolute means something
    like "use top, right, bottom, left to position yourself in relation to the nearest ancestor
    who has position: absolute or position: relative*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-width: 100;
    font-family: "PT Sans Narrow", sans-serif;
    /*transform: translate(-50%, -50%);*/
}

.task .progressbar {
    /*display: inline-block;*/
    width: 300px;
    height: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #090909;
    margin: 10px 0 10px 0;
}

.task .pbcont {
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 0 0;
}

.task .pbcont a {
    background-image: url('/static/btns1.png');
    display: inline-block;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 15px;
    color: #79797a;

    width: 24px;
    height: 23px;
    margin: 0 50px 0 0;
    vertical-align: bottom;
    cursor: pointer;
}
.task .pbcont a:hover {
    color: #a7a9ac;
    text-decoration: none;
}
.task .pbcont a:active {
    color: #e7e8e9;
    text-decoration: none;
}
.task .pbcont a span {
    padding: 0 0 0 30px;
    position: relative;
    top: 5px;
    vertical-align: bottom;
}

.pomo { background-position: -78px 0px; }
.pomo:hover { background-position: -78px -23px; }
.pomo:active { background-position: -78px -46px; }

.start { background-position: -27px 0px; }
.start:hover { background-position: -27px -23px; }
.start:active { background-position: -27px -46px; }

.stop { background-position: -104px 0px; }
.stop:hover { background-position: -104px -23px; }
.stop:active { background-position: -104px -46px; }

.reset { background-position: -1px 0px; }
.reset:hover { background-position: -1px -23px; }
.reset:active { background-position: -1px -46px; }


#listtask_container {
    position: absolute;
    left: 600px;
    top: 70px;
}

.listtask {
    font-family: "Arial", sans-serif;
    padding-left: 17px;
    /*height: 20px;*/
    width: 450px;
}

.listtask:hover {
    background-color: #050505;
}

.listtask > * {
    vertical-align: middle;
}
.listtask form > * {
    vertical-align: middle;
}

.listtask .todopriority {
    display:inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
}
.listtask .todopriority > span{
    position: absolute;
    font-size: 25px;
    font-family: "PT Sans Narrow", sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*.listtask .todopriority > a{
    display: inline;
    height: 20px;
    width: 25px;
    font-size: 25px;
    position: absolute;
    text-decoration: none;
    left: -5px;
    visibility: hidden;
}*/
/*.listtask .todopriority .minus { top: 16px;}
.listtask .todopriority .plus { top: 7px; font-size: 20px;}*/

.listtask .todotitle {
    display: inline-block;
    height: 50px;
    width: 250px;
    text-align: left;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
}

.listtask .todotitle > span {
    display: inline-block;
    position: relative;
    top: 12px;
}

.listtask .buttons{
    display: inline-block;
    visibility: hidden;
}

.listtask .buttons > a, #addbtn {
    display: inline-block;
    background-image: url('/static/todobtns.png');
    /*width: 23px;*/
    height: 26px;
}

.complete { background-position: -54px 0px; width: 25px;}
.complete:hover { background-position: -54px -26px; }
.complete:active { background-position: -54px -51px; }

.uncomplete { background-position: -78px 0px; width: 30px;}
.uncomplete:hover { background-position: -78px -26px; }
.uncomplete:active { background-position: -78px -51px; }

.remove { background-position: -106px 0px; width: 23px;}
.remove:hover { background-position: -106px -26px; }
.remove:active { background-position: -106px -51px; }

.edit { background-position: -164px 0px; width: 25px;}
.edit:hover { background-position: -164px -26px; }
.edit:active { background-position: -164px -51px; }

#addbtn { background-position: -192px 0px; width: 25px;}
#addbtn:hover { background-position: -192px -26px; }
#addbtn:active { background-position: -192px -51px; }

/*.expand { background-position: 0px 0px; width: 24px; height: 25px;}
.expand:hover { background-position: 0px -34px; width: 24px; height: 17px;}
.expand:active { background-position: 0px -59px; width: 24px; height: 17px;}*/


.listtask .todopriority > a {
    position: absolute;
    display: inline-block;
    background-image: url('/static/priobtns.png');
    width: 17px;
    height: 13px;
    left: -10px;
    visibility: hidden;
}

.listtask .todopriority .minus { background-position: -0px -0px; top: 26px; }
.listtask .todopriority .minus:hover { background-position: -0px -18px; top: 26px; }
.listtask .todopriority .minus:active { background-position: -0px -35px; top: 26px; }

.listtask .todopriority .plus { background-position: -20px -0px; top: 13px; }
.listtask .todopriority .plus:hover { background-position: -20px -18px; top: 13px; }
.listtask .todopriority .plus:active { background-position: -20px -35px; top: 13px; }

#listtask_container form {
    display: block;
}

#listtask_container textarea {
    background-color: #0b0b0b;
    border: 1px solid #222222;
    color: #79797a;
    /*font-family: "Ubuntu Condensed", sans-serif;*/
    /*font-size: 15px;*/
}

#listtask_container textarea {
    resize: vertical;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 12px;
    height: 200px;
    width: 370px;
    margin-bottom: 10px;
    padding: 3px 3px 0px 5px;
}

#listtask_container input, #addform input {
    border: 0;
    border-left: 3px solid #333333;
    background-color: #090909;
    color: #79797a;
    margin: 5px 10px 5px 0px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    padding-left:8px;
    height: 20px;
}

#addbtn {
    margin-left: 32px;
    opacity: 0.4;
}

#addform input {
    margin:0;
    position: relative;
    top: -5px;
    left: 7px;
    display: none;
}

#listtask_container .editpanel input[name="priority"] {
    width: 40px;
}
#listtask_container .todotitle input[name="title"] {
    /*width: 295px;*/
    font-size: 20px;
    position: relative;
    padding:5px 5px 5px 5px;
    border: 1px solid #222222;
    top: 4px;
    left: -6px;
}
#listtask_container .editpanel .save {
    color: #464748;
    display: inline-block;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    position: relative;
    left: 300px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#listtask_container .editpanel .save:hover {
    text-decoration: none;
    color: #a7aaac;
}
#listtask_container .editpanel .save:active {
    text-decoration: none;
    color: #e9eaec;
}

#listtask_container .editpanel .priobar {
    height: 8px;
    width: 300px;
}

.listtask .exp {
    margin-left: 47px;
    display: none;
    position: relative;
}

/*.listtask .exp .edit{
    position: absolute;
    left: -40px;
}*/

.listtask .exp .descpanel{
    position: relative;
    top: -12px;
}

.listtask .edit_show{
    display: none;
}


.listtask .exp > * {
    /*font-family: Calibri, Arial, sans-serif;*/
    /*font-size: 13px;*/
}



#volumeContainer {
    position: absolute;
    top: 20px;
    left: 15px;
    /*margin-top:20px;*/
    /*margin-left:15px;*/
    cursor: pointer;
}
#volumeContainer > * {
    vertical-align: middle;
}

#volumeControl {
    display: inline-block;
    /*position:relative;
    top: 30px;
    left: 30px;*/
    width:100px;
    height: 6px;
}

#volumeIcon {
    background-image: url('/static/btns1.png');
    display: inline-block;

    width: 26px;
    height: 23px;
    margin: 0 3px 0 0;
    opacity: 0.2;
    cursor: default;
    /*padding: 0 0 0 30px;*/
    /*background-position: -132px -0px;*/
}

#volumeContainer .level3{ background-position: -132px -0px; }
#volumeContainer .level2{ background-position: -132px -23px; }
#volumeContainer .level1{ background-position: -132px -46px; }
#volumeContainer .mute{ background-position: -160px -0px; }


#daystrip {
    position: absolute;
    top: 20px;
    left: 630px;
}

#daystrip > div {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #444444;
    vertical-align: middle;
    margin: 0 5px 5px 0;
    border: 3px solid #777777;
}
/*#daystrip .cday > * {
    vertical-align: middle;
}
*/
#daystrip .MISSED {
    background-color: #080808;
    border: 3px solid #0a0a0a;
    color: #111111;
}

#daystrip .COMPLETE {
    background-color: #105010;
    border: 3px solid #107010;
    color: #209020;
}

#daystrip .REST {
    background-color: #501049;
    border: 3px solid #701054;
    color: #902089;
}


#daystrip > div > span {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -55%);
}

#waterblock {
    position: absolute;
    top: 20px;
    left: 570px;
}

#waterblock > .barcont{
    height: 230px;
    width: 10px;
    border-radius: 9px;
    background-color: #090909;
    padding: 10px 10px 10px 10px;
}


#waterblock .buttons {
    width: 50px;
    position: relative;
    left: -2px;
    top: 20px;
}

#waterblock .buttons > a {
    display: inline-block;
    /*background-image: url('/static/todobtns.png');*/-
    width: 50px;
    /*height: 50px;*/
    /*line-height: 100p-x;*/

    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    color: #6d6e71;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#waterblock .buttons > a:hover {
        text-decoration: none;
        color: #a7a9ac;
}

#waterblock .buttons > a:active {
        text-decoration: none;
        color: #e7e8e9;
}

/*#waterblock {*/-

</style>
{% endblock%}


{% block content %}

<audio></audio>
<div id="volumeContainer">
    <div id="volumeIcon" class="level3"></div>
    <div id="volumeControl">
    </div>
</div>
<div id="task_container">
<a id="startDayButton">Start the Day</a>
{% for task in tasks %}
    <div id="task{{ task.id }}" class="task">
        <div class="pbcont">
            <div><span class="title">{{task.title}}</span><span class="duration"></span></div>
            <div class="progressbar"></div>
            <a src="" class="reset"><span>Reset</span></a>
            <a src="" class="start"><span>Start</span></a>
            <a src="" class="stop"><span>Stop</span></a>
            <a src="" class="pomo"><span>Pomodoro</span></a>
        </div>
        <div class="clock">
        </div>
        <div class="warning">
        </div>
    </div>

{% endfor %}
</div>
<div id="listtask_container">
    <form id="addform" action="/api/listtask/add" method="post">
        <a id="addbtn"></a>
        <!-- <input type="range" name="priority" min="0" max="100"> -->
        <input type="text" name="title" tabindex="-1"></input>
    </form>
    <div>
    {% for listtask in listtasks %}
        <div id="listtask{{ listtask.id }}" data-created="" class="listtask">
            <form action="" method="post">
            <div class="todopriority">
                <a class="minus"></a>
                <a class="plus"></a>
                <span>{{ listtask.priority }}</span>
            </div>
            <div class="todotitle">
                <span class="edit_hide">{{ listtask.title }}</span>
                <input class="edit_show" type="text" name="title"></input>
            </div>
            <div class="buttons">
                <a class="edit"></a>
                <a class="complete"></a>
                <a class="uncomplete"></a>
                <a class="remove"></a>
            </div>
            <div class="exp">
                <div class="descpanel edit_hide">
                    <span class="description">{{ listtask.description_markdown }}</span>
                </div>
                <div class="editpanel edit_show">
                    
                        <textarea name="descbody"></textarea>
                        <div>
                            <input type="hidden" name="priority"></input>
                            <div class="priobar"></div>
                            <div><a class="save">Save</a></div>
                        </div>
                    
                </div>
            </div>
            </form>
        </div>
    {% endfor %}
    </div>
</div>
        <div hidden="hidden" style="visibility: hidden" id="listtask_template" data-created="" class="listtask">
            <form action="" method="post">
            <div class="todopriority">
                <a class="minus"></a>
                <a class="plus"></a>
                <span></span>
            </div>
            <div class="todotitle">
                <span class="edit_hide"></span>
                <input class="edit_show" type="text" name="title"></input>
            </div>
            <div class="buttons">
                <a class="edit"></a>
                <a class="complete"></a>
                <a class="uncomplete"></a>
                <a class="remove"></a>
            </div>
            <div class="exp">
                <div class="descpanel edit_hide">
                    <span class="description"></span>
                </div>
                <div class="editpanel edit_show">
                    
                        <textarea name="descbody"></textarea>
                        <div>
                            <!-- <input type="range" name="priority"></input> -->
                            <!-- <input type="text" name="priority"></input> -->
                            <input type="hidden" name="priority"></input>
                            <div class="priobar"></div>
                            <!-- <input type="checkbox" name="use_markup"></input> -->
                            <div><a class="save">Save</a></div>
                        </div>
                    
                </div>
            </div>
            </form>
        </div>


<div id="daystrip">
{% for date, daydata in days %}
    <div class="{% if daydata %} {{daydata.state}} {% else %} MISSED {% endif %}" data-date="{{date.isoformat()}}">
        <span onselectstart="return false">{{date.day}}</span>
    </div>
{% endfor %}
</div>


<div id="waterblock">
    <div class="barcont" style="">
    </div>
    <div class="buttons">
         <a class="small">100ml</a>
         <a class="big">500ml</a>
         <a class="reset">Reset</a>
    </div>
</div>

{% endblock %}